{%-extends "./base.html" %}
{% block content %}
<div class="cantain-fluid center-align" style="">
    	<div class="ui-passport-main-pannel">
    		<div class="ui-passport-main-pannel-title row">
    			<div class="col-xs-6 " >
    				<a class="select" id="pass_login" href="#">登录</a>
    			</div>
    			<div class="col-xs-6 " >
    				<a class="select" id="pass_reg" href="#">注册</a>
    			</div>

    		</div>
            <div class="slideBlock" style=""></div>
    		<div class="ui-passport-main-pannel-form center-align "  data-ariaform="pass_login">
    			<form action="/" method="post">
    				<div class="input-group">
    					<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
    					<input type="text" class="form-control" placeholder="用户名" aria-describedby="basic-addon1"></div>
    				<div class="input-group">
    					<span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-lock"></span></span>
    					<input type="password" class="form-control" placeholder="密码" 
    					aria-describedby="basic-addon2">
    				</div>
    				<div><button class="btn btn-info center-block">登录</button></div>
    			</form>	
    		</div>
            <div class="ui-passport-main-pannel-form center-align" style="display:none;" data-ariaform="pass_reg" >
                <form action="/" method="post">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" class="form-control" placeholder="用户名" aria-describedby="basic-addon1"></div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" class="form-control" placeholder="密码" 
                        aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" class="form-control" placeholder="确认密码" 
                        aria-describedby="basic-addon2">
                    </div>
                    <div><button class="btn btn-info center-block">注册</button></div>
                </form> 
            </div>
    	</div>
</div>


{% endblock %}
{% block script %}
<script type="text/javascript">

(function(){
    
    var a = "#pass_login" //这里大概是判断进入时注册还是登录，没有测试传入的值于是假设惹
    var orign = setSlideBlockState($(a))
        
    
    function setSlideBlockState(a){
        var offset = a.closest("div").position().left+(a.closest("div").innerWidth()/2)-35
        $(".slideBlock").css("left",offset)
    }
    $(".cantain-fluid").height($(window).height()-100)
    $(".select").click(function(){
        //页面切换选择器（
        var state = $(this).attr("id")
        a = "#"+state
        setSlideBlockState($(this))
        $("div[data-ariaform]").each(function(){
            $(this).attr("data-ariaform")==state?$(this).attr("style",""):$(this).attr("style","display:none;")
        })
        console.log(a)
    })
    $(".select").hover(function(){
        setSlideBlockState($(this))
        console.log(a)
    },function(){
        setSlideBlockState($(a))
        console.log(a)
    })
    
})();

//$("#pass_login").hover(function(){
//    $(".slideBlock").attr("style","margin-left:70px;")
//    console.log("1")
//    },function(){
//    $(".slideBlock").attr("style","margin-left:320px;")
//    console.log("2")
//})
</script>
{% endblock %}