{%-extends "./base.html" %}
{%-import "./_macros.html" as macros %}
{% block title %}
登录/注册
{% endblock %}
{%-block nav %}
        <style type="text/css">
        body{
            background-size: cover;
            background-attachment:fixed;
            background-image: url("http://o8evkf73q.bkt.clouddn.com/image/index/bg1.jpg");
            background-position-x: center;
        }
        </style>

{% endblock %}

{% block mainnav %}
{{ macros.showmainnav(current_user=current_user)}}
{% endblock %}

{% block content %}
<div class="cantain-fluid" style="background: rgba(5, 5, 5, 0.44);padding-top: 10%">
    	<div class="ui-passport-main-pannel">
    		<div class="ui-passport-main-pannel-tag row">

    			<div class="col-xs-6 " >
    				<a class="select" id="pass_login" href="#">登录</a>
    			</div>
    			<div class="col-xs-6 " >
    				<a class="select" id="pass_reg" href="#">注册</a>
    			</div>

    		</div>
            <div class="slideBlock slideBlock-passport" style="left:75.5px;"></div>

            <div class="ui-passport-main-pannel-form center-align "  data-ariapannel="pass_login">

    			<form action="/login" method="post">
    				<div class="input-group case-in">
                        {{loginform.hidden_tag()}}
    					<span class="glyphicon glyphicon-user"></span>
                        {{ loginform.userName(class="input",**{"placeholder":"用户名","require":"true"}) }}
                    </div>
    				<div class="input-group case-in">
    					<span class="glyphicon glyphicon-lock"></span>
                        {{loginform.passWord(class="input",**{"placeholder":"密码","require":"true"}) }}
    				</div>
                    <span style="color:#fff;">{{loginform.rememberMe()}} 记住我</span>
    				{{ loginform.submit(class="case-in button center-block ui-form-style") }}
    			</form>
    		</div>
            <div class="ui-passport-main-pannel-form center-align " style="display:none;" data-ariapannel="pass_reg" >
                <form action="/register" method="post">
                    {{registerform.hidden_tag()}}
                    <div class="input-group case-in">
                        <span class="glyphicon glyphicon-user"></span>
                        {{registerform.userName(class="input",**{"placeholder":"用户名","require":"true"})}}
                    </div>
                    <div class="input-group case-in">
                        <span>@</span>
                        {{registerform.email(class="input",**{"placeholder":"邮箱","require":"true"})}}
                    </div>
                    <div class="input-group case-in">
                        <span class="glyphicon glyphicon-lock"></span>
                        {{registerform.regpassWord(class="input",**{"placeholder":"密码","require":"true"})}}
                    </div>
                    <div class="input-group case-in">
                        <span class="glyphicon glyphicon-lock"></span>
                        {{registerform.confirm(class="input",**{"placeholder":"确认密码","require":"true"})}}
                    </div>
                    
                    <span style="color:#fff;"><input type="checkbox" checkbox=false require="true"/> 我已阅读并接受 <a href="#">免责声明</a></span>
                    
                    {{ registerform.submit(class="case-in button center-block ui-form-style") }}
                </form>
            </div>


    	</div>
</div>


{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script type="text/javascript">
ui = new UI();
ui.slideBlock({
    originPosition:"#pass_login",
    slideBlock:".slideBlock-passport"
})
$(".cantain-fluid").height($(window).height())
$(".ui-passport-main-pannel-form span a").click(function(){
    ui.modalShow(function(){
        $(".modal-body").append("{{macros.pstext()}}")
        $(".modal").modal('show')
    },1,1)
})
$(".ui-passport-main-pannel-form #submit").click(function(){
    ui.formValidation($(this).parent("form"));
    console.log($(this).parent("form"))
})


</script>
{% endblock %}