{%-extends "./base.html" %}
{%-import "./_macros.html" as macros %}
{% block title %}
登录/注册
{% endblock %}
{%-block nav %}
        <style type="text/css">
        body{
            overflow-y:hidden;
            background-size: cover;
            background-attachment:fixed;
            background-image: url("static/images/index/bg1.jpg");
        }
        </style>

{% endblock %}

{% block mainnav %}
{{ macros.showmainnav(current_user=current_user)}}
{% endblock %}

{% block content %}
<div class="cantain-fluid" style="background: rgba(5, 5, 5, 0.44);padding-top: 10%">
    	<div class="ui-passport-main-pannel">
    		<div class="ui-passport-main-pannel-tag row">

    			<div class="col-xs-6 " >
    				<a class="select" id="pass_login" href="#">登录</a>
    			</div>
    			<div class="col-xs-6 " >
    				<a class="select" id="pass_reg" href="#">注册</a>
    			</div>

    		</div>
            <div class="slideBlock slideBlock-passport" style="left:75.5px;"></div>

            <div class="ui-passport-main-pannel-form center-align "  data-ariapannel="pass_login">

    			<form action="/login" method="post">
    				<div class="input-group case-in">
                        {{loginform.hidden_tag()}}
    					<span class="glyphicon glyphicon-user"></span>
                        {{ loginform.userName(class="input",**{"placeholder":"用户名"}) }}
                    </div>
    				<div class="input-group case-in">
    					<span class="glyphicon glyphicon-lock"></span>
                        {{loginform.passWord(class="input",**{"placeholder":"密码"}) }}
    				</div>
                    <div class="input-group case-in" style="display: inline;">{{loginform.rememberMe()}} 记住我</div>
    				{{ loginform.submit(class="case-in button center-block ui-form-style") }}
    			</form>
    		</div>
            <div class="ui-passport-main-pannel-form center-align " style="display:none;" data-ariapannel="pass_reg" >
                <form action="/register" method="post">
                    {{registerform.hidden_tag()}}
                    <div class="input-group case-in">
                        <span class="glyphicon glyphicon-user"></span>
                        {{registerform.userName(class="input",**{"placeholder":"用户名"})}}
                    </div>
                    <div class="input-group case-in">
                        <span>@</span>
                        {{registerform.email(class="input",**{"placeholder":"邮箱"})}}
                    </div>
                    <div class="input-group case-in">
                        <span class="glyphicon glyphicon-lock"></span>
                        {{registerform.passWord(class="input",**{"placeholder":"密码"})}}
                    </div>
                    <div class="input-group case-in">
                        <span class="glyphicon glyphicon-lock"></span>
                        {{registerform.confirm(class="input",**{"placeholder":"确认密码"})}}
                    </div>
                    {{ registerform.submit(class="case-in button center-block ui-form-style") }}
                </form>
            </div>


    	</div>
</div>


{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script type="text/javascript">
ui = new UI();
ui.slideBlock({
    originPosition:"#pass_login",
    slideBlock:".slideBlock-passport"
})
$(".cantain-fluid").height($(window).height())
ui.formValidation();
/*
(function(){

    var a = "#pass_login" //这里大概是判断进入时注册还是登录，没有测试传入的值于是假设惹
    setSlideBlockState($(a))
    function setSlideBlockState(a){
        var offset = (a.closest("div").position().left-a.closest("div").parent().find("div:first-child").position().left)+(a.closest("div").innerWidth()/2)-47
        $(".slideBlock").css("left",offset)
        //console.log(a.closest("div").parent().find("div:first-child").position().left)
    }
    $(".cantain-fluid").height($(window).height()-100)
    $(".select").click(function(){
        //页面切换选择器（
        var b = $(this).attr("id")
        a = "#"+b
        setSlideBlockState($(this))
        $("div[data-ariapannel]").each(function(){
            $(this).attr("data-ariapannel")==b?$(this).attr("style",""):$(this).attr("style","display:none;")
        })
    })
    $(".select").hover(function(){
        setSlideBlockState($(this))
    },function(){
        setSlideBlockState($(a))
    })
})();
*/
</script>
{% endblock %}