{%-extends "trade/base_trade.html" %}
{% import "./_macros.html" as macros %}
{% block title %}发布二手{% endblock %}
{% block content %}
<div class="cantain-fluid">
    <div class="ui-mainct">
        <div class="ui-panel">
            <div class="ui-panel-cover" style="background:#9BB7B4;"></div>
            <div style="padding:60px 60px 0 60px;position:relative;top:-155px;">
                <div class="row">
                    <div class="ui-post-title col-sm-12">
                        发布闲置
                    </div>
                </div>
                <form action="trade_post" method="POST">
                    <div class="row ui-post-row" style="margin-top:30px;">
                        <div class="col-sm-3">
                            <span class="glyphicon glyphicon-th-list"></span> 
                            {{form.hidden_tag()}}
                            {{ form.tag()}}
                        </div>
                        <div class="col-sm-9">
                            {{ form.name(class="ui-form-style ui-post-input",**{"placeholder":"给你要卖的东西起个标题吧","require":"true","size":15})}}
                        </div>
                    </div>
                    <div class="row ui-post-row">
                        <div class="col-sm-8">
                            {{ form.price(class="ui-form-style ui-post-input",**{"placeholder":"出售的价格","require":"true"})}}
                        </div>
                        <div class="col-sm-4 tips">*价格必填</div>
                    </div>
                    <div class="row ui-post-row">
                        <div class="col-sm-8">
                            {{ form.num(class="ui-form-style ui-post-input",**{"placeholder":"数量","require":"true"})}}
                        </div>
                        <div class="col-sm-4 tips">出售物品的数量，必填</div>
                    </div>
                    <div class="row ui-post-row">
                        <div class="col-sm-8">
                            {{ form.location(class="ui-form-style ui-post-input",**{"placeholder":"坐标","require":"true"})}}
                        </div>
                        <div class="col-sm-4 tips">寝室（地址）位置，必填</div>
                    </div>
                    <div class="row ui-post-row">
                        <div class="col-sm-8">
                            {{ form.buyTime(class="ui-form-style ui-post-input",**{"placeholder":"购买时间","require":"true"})}}
                        </div>
                        <div class="col-sm-4 tips">
                            购买时的时间，必填</div>
                    </div>
                    <div class="row ui-post-row">
                        <div class="col-sm-8">
                            {{ form.quality(class="ui-form-style ui-post-input",**{"placeholder":"成色","require":"true"})}}
                        </div>
                        <div class="col-sm-4 tips">
                            物品的新旧程度，必填</div>
                    </div>
                    <div class="row ui-post-row">
                        <div class="col-sm-8">
                            {{ form.mycontact(class="ui-form-style ui-post-input",**{"placeholder":"联系方式","require":"true"})}}
                        </div>
                        <div class="col-sm-4 tips">
                            *联系方式，必填</div>
                    </div>
                    <div class="row ui-post-row">
                        {{ form.body(class="ui-form-style ui-post-input",**{"placeholder":"商品描述","require":"true"})}} 
                        {{ form.img(style="display:none;",class="imgjson") }}
                    </div>
                    <div class="row ui-post-row" data-ariapannel="uploadaira">
                        <!--<div class="col-sm-3 show-upload" style="">
                        <div class="ui-post-upload uploadimg" style="background-image:url('static/images/2.jpeg');">
                            <a href="#">
                                <div class="btn btn-shadow case-in zoom-img" style="display:none;">
                                    浏览大图
                                </div>
                            </a>
                            <div class="btn btn-shadow case-in progress-img" style="display:none;">
                                    
                            </div>
                            <div class="del-bg">
                                <button type='button' class="btn-del case-in" title="删除"><span aria-hidden="true">&times;</span></button>
                            </div>
                        </div>
                    </div>-->
                        <div class="col-sm-3">
                            <div id="upload-aira" class="ui-post-upload">
                                <input type="hidden" id="domain" value="7xrkww.com1.z0.glb.clouddn.com">
                                <input type="hidden" id="uptoken_url" value="/get_upload_token">
                                <a id="pickfiles" href="#">
                                    <div class="btn case-in">
                                        点击这里
                                        <br>上传图片
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row ui-post-row" style="color:#eee;">
                        *最多上传十张图片～至少需要一张照片
                    </div>
                    <div class="row ui-post-row">
                        {{form.submit(class="btn ui-post-bottom center-block case-in")}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script %}
<!--依赖插件-->
<script type="text/javascript" src={{url_for( 'main.staticfile',filename='js/plupload/plupload.full.min.js' )}}></script>
<script type="text/javascript" src={{url_for( 'main.staticfile',filename='js/qinniu/dist/qiniu.min.js' )}}></script>
<!--配置-->
<script type="text/javascript" src={{url_for( 'main.staticfile',filename='js/qinniu/config.js' )}}></script>
<script type="text/javascript" src={{url_for( 'main.staticfile',filename='js/ui/Fileload.js' )}}></script>
<script type="text/javascript">
$(document).ready(function() {
    var upload = Qiniu.uploader(uploaderoption)
    var ui = new UI();
    ui.formValidation($("form"));
})
</script>
{{ super() }}
{% endblock %}