{%-extends "./base.html" %} {% import "./_macros.html" as macros %} {%-block nav %}
<style>
body {
    padding-top: 120px;
}
</style>
<div class="contain-fluid">
    <div class="ui-subnav">
        <div class="ui-subnav-content">
            <div class="row">
                <div class="col-md-2 left-align btn-list-toggle" style="font-size:30px;padding-left:30px"><span class="glyphicon glyphicon-th-list"></span> 分类</div>
                <div class="col-md-7 left-align" style="margin-top:5px;">
                    <button class="btn btn-default" style="font-size:15px;">
                        <a href="{{url_for('trade.trade_post')}}">发布商品！</a>
                    </button>
                </div>
                <div class="right-align col-md-3" style="margin-top:10px;"><span class="ui-trade-listct">按时间</span><span class="ui-trade-listct">按评论</span></div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block content %}
<!--调试时用来显示用户发布的帖子什么的
<div class="testTradeList" style="padding-top: 50px;">
<ul>

    {#{% for post in posts %}
    <li class="post">
        <a href="{{url_for('main.user',username=post.author.userName)}}">关于{{post.author.userName}}</a>
        发布时间:{{moment(post.timestamp).fromNow()}}<br>
        <a href="{{url_for('main.user',username=post.author.userName)}}">发布者:{{post.author.userName}}</a><br>
        帖子id:{{post.id}}<br>
        物品名:{{post.goodName}}<br>
        物品价格:{{post.goodPrice}}<br>
        购买时间:{{post.goodBuyTime}}<br>
        物品成色:{{post.goodQuality}}<br>
        主题:<p>{{post.body}}</p>

    </li>
    {% endfor %}#}
</ul>
</div>
-->
<div class="container-fluid">
    <div class="ui-mainct">
        <div class="row">
            <div class="ui-trade-show-list col-md-3">
                <div><span class="glyphicon glyphicon-camera"></span> 闲置数码</div>
                <span>手机</span><span>手机</span><span>手机</span><span>手机</span>
                <div><span class="glyphicon glyphicon-camera"></span> 衣服什么的</div>
                <span>手机</span><span>手机</span><span>手机</span><span>手机</span>
                <br><span>手机</span>
                <div><span class="glyphicon glyphicon-camera"></span> 日常物品</div>
                <span>手机</span><span>手机</span><span>手机</span><span>手机</span>
            </div>
            <div class="ui-trade-show col-md-9" style="width:100%">
                {% if posts %} {% for post in posts %}
                <div class="col-md-4">
                    <a href={{url_for('trade.post',id=post.id)}}>
                        <div class="ui-trade-show-contain" style="background-image:url('static/images/2.jpeg');background-size:cover;" data-href={{post.id}}>
                            <div class="ui-trade-show-contain-side">
                            </div>
                            <div class="ui-trade-show-contain-headbg" style="background-image:url('static/images/2.jpeg');">
                            </div>
                            <div class="ui-trade-show-contain-text">
                                <div class="ui-trade-show-contain-price">${{post.goodPrice}}</div>
                                <div class="ui-trade-show-contain-title">{{post.goodName}}</div>
                                <div class="ui-trade-show-contain-userid">{{post.author.userName}}</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--end-->
                {% endfor %} {% else %} 然而什么都没有 {% endif %}
            </div>
        </div>
    </div>
</div>
<!--这里是引用分页导航的局部模板macros-->
<div class="pagination" style="text-align: center;padding-left: 200px;">
    {{ macros.pagination_widget(pagination,'.trade_list')}}
</div>
</div>
{% endblock %} {% block script %}
<script type="text/javascript">
$(function() {
    var s = 0
    $('.btn-list-toggle').click(function() {
            //列表开关效果
        if (s == 1) {
            $(".ui-trade-show").removeClass("contain-shrink").addClass("contain-extend")
            $(".ui-trade-show-contain-headbg").removeClass("fade-out").addClass("fade-in")
            s = 0
        } else {
            $(".ui-trade-show").removeClass("contain-extend").addClass("contain-shrink")
            $(".ui-trade-show-contain-headbg").removeClass("fade-in").addClass("fade-out")
            s = 1
        }
    })
    $('.ui-trade-show-contain').click(function(){
        localtion.href=$(this).attr("data-href")
    })
})
</script>
{% endblock %}