{%-extends "trade/base_trade.html" %}
{% import "./_macros.html" as macros %}
{% block title %}淘二手{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="ui-mainct">
        <div class="row">
            {% block trade_tip%}<!--查询模版的提示-->
                {% endblock %}
                {% if posts %} 
            <div class="ui-trade-show">
                
                {{ macros.listblock(posts)}}
            </div>
            {% else %}
            <div class="ui-trade-error">:)<br>然而什么都没有</div>
            {% endif %}
        </div>
    </div>
</div>
</div>
<!--这里是引用分页导航的局部模板macros-->
<div class="ui-pagination center-align">
    {{ macros.pagination_widget(pagination,'.trade_list')}}
</div>
</div>
{% endblock %}
