{%-extends "./base.html" %}
{% block content %}
<div class="divstyle" style="text-align: center;padding: 100px">
    <form action="trade_post" method="post">
        {{form.hidden_tag()}}
        物品id:{{form.formId()}}<br>
        物品名:{{ form.name()}}<br>
        物品类别:{{ form.tag()}}<br>
        物品数量:{{form.num}}<br>
        物品价格:{{form.price()}}<br>
        楼栋位置:{{form.location()}}<br>
        购买时间:{{form.buyTime()}}<br>
        物品成色:{{form.quality()}}<br>
        联系方式:{{form.mycontact()}}<br>
        物品详细介绍:{{form.body()}}<br>
        {{form.submit()}}
    </form>
</div>
{% endblock %}