{%-extends "./base.html" %} {%-block nav %}
<style>
body {
    padding-top: 100px;
}
</style>
{% endblock %} {% block content %}
<!--<nav class="ui-trade-detail-nav">
    <a href="#detail">
        <div class="ui-trade-detail-panel-label"><span class="glyphicon glyphicon-file" style="color:#fff;"> 介绍</span></div>
    </a>
    <a href="#photo">
    <div class="ui-trade-detail-panel-label"><span class="glyphicon glyphicon-camera" style="color:#fff;"> 照片</span></div>
        </a>
    <a href="#comment">
    <div class="ui-trade-detail-panel-label"><span class="glyphicon glyphicon-comment" style="color:#fff;"> 评论</span></div>
        </a>
</nav>-->
<div class="cantain-fluid">
    <div class="ui-mainct">
        <div class="ui-panel">
            <div class="ui-panel-cover blur" style="background-image:url('static/images/2.jpeg')">
            </div>
            <div class="row">
                <!--左边-->
                <div class="col-md-8 left-panel">
                    <div class="row">
                        <div class="col-sm-8">
                            <div id="detail" class="ui-trade-detail-title">
                            <h1>{{ post.goodName }}</h1>
                            <h5><span class="glyphicon glyphicon-time"></span>{{post.timestamp}}</h5>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ui-trade-detail-price">¥{{ post.goodPrice }}</div>
                        </div>
                    </div>

                    <div  class="ui-trade-detail-content">
                        <p>{{post.body}}
                        </p>
                    </div>
                    <div id="photo" class="ui-trade-detail-content">
                        <img src="http://7xrkww.com1.z0.glb.clouddn.com/FtMzRQZbpt5CYVadIFdkRqXSDDl6" >
                    </div>
                    <div id="comment" class="ui-trade-detail-content">
                        <div>

                        </div>
                        <!--一个主评论-->
                        <form action="/trade_detail/{{ post.id }}" method="post">
                            {{ form.hidden_tag()}}
                            {{ form.body() }}
                            {{ form.submit() }}
                        </form>


                        {% include './_comments.html' %}

                        <!-- <div class="ui-trade-detail-comment">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="ui-trade-detail-comment-headbg" style="background-image:url(static/images/1.jpg)"></div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="ui-trade-detail-comment-extendtext">can1</div>
                                        <div class="ui-trade-detail-comment-textcontain">
                                            <p>是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？ 是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？ 是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？ 是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？
                                            </p>
                                        </div>
                                        <span class="ui-trade-detail-comment-extendtext">2016/3/3<a href="#" style="margin-left:30px;">回复</a></span>
                                    </div>

                                    <div class="row" style="margin-top:10px;margin-bottom:10px;">
                                        <div class="col-md-2">
                                            <div class="ui-trade-detail-comment-headbg" style="background-image:url(static/images/1.jpg)"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="ui-trade-detail-comment-extendtext">can2</div>
                                                <div class="ui-trade-detail-comment-textcontain">
                                                    <p>一脸蒙逼</p>
                                                </div>
                                                <span class="ui-trade-detail-comment-extendtext">2016/3/3<a href="#" style="margin-left:30px;">回复</a></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:10px;margin-bottom:10px;">
                                        <div class="col-md-2">
                                            <div class="ui-trade-detail-comment-headbg" style="background-image:url(static/images/1.jpg)"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="ui-trade-detail-comment-extendtext">can3</div>
                                                <div class="ui-trade-detail-comment-textcontain">
                                                    <p>一脸蒙逼</p>
                                                </div>
                                                <span class="ui-trade-detail-comment-extendtext">2016/3/3<a href="#" style="margin-left:30px;">回复</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui-trade-detail-comment">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="ui-trade-detail-comment-headbg" style="background-image:url(static/images/1.jpg)"></div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="ui-trade-detail-comment-extendtext">can4</div>
                                        <div class="ui-trade-detail-comment-textcontain">
                                            <p>是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？ 是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？ 是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？ 是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？是不是傻了啊？
                                            </p>
                                        </div>
                                        <span class="ui-trade-detail-comment-extendtext">2016/3/3<a href="#" style="margin-left:30px;">回复</a></span>
                                    </div>

                                    <div class="row" style="margin-top:10px;margin-bottom:10px;">
                                        <div class="col-md-2">
                                            <div class="ui-trade-detail-comment-headbg" style="background-image:url(static/images/1.jpg)"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="ui-trade-detail-comment-extendtext">can5</div>
                                                <div class="ui-trade-detail-comment-textcontain">
                                                    <p>一脸蒙逼</p>
                                                </div>
                                                <span class="ui-trade-detail-comment-extendtext">2016/3/3<a href="#" style="margin-left:30px;">回复</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--end-->
                    </div>
                </div>
                <!--右边-->
                <div class="col-md-4 right-panel">
                    <div class="ui-trade-detail-headbg" style="background-image:url(/static/images/1.jpg)">
                        <div class="ui-trade-detail-userinfo">
                            <h3><a href="{{ url_for('main.user_zone',username=post.author.userName,_external=True) }}">{{ post.author.userName }}</a> </h3>
                            <h5 class="sign">{{ post.author.about_me }}</h5></div>
                    </div>
                    <div class="stickypannel " >
                        <div class="ui-trade-detail-rightlist">
                            {% if current_user.is_authenticated %}
                            {% if current_user.is_collecting(post) %}
                                <h5 ><a href="{{ url_for('.uncollect',pid=post.id,_external=True) }}" style="color:blue;">取消收藏</a> </h5>
                                {% else %}
                                <h5 ><a href="{{ url_for('.collect',pid=post.id,_external=True) }}" style="color:blue;">收藏该帖子</a></h5>
                                {% endif %}
                            {% endif %}
                            <span>该用户的其他帖子</span>
                            <ul>
                            {%  if post.author.posts %}
                            {% for userpost in post.author.posts %}
                            <li><a href="{{ url_for('trade.trade_detail',goodId=userpost.id,_external=True)}}"> {{ userpost.goodName }}</a></li>
                            {%  endfor %}
                            {% else %}
                            <li>该用户还未发表过帖子~</li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script %}
<script>
$(document).ready(function(){
    var ui = new UI();
    ui.sticky({
        offsetY:175,
        contain:$('.right-panel'),
    })
    $(".right-panel").height($(".left-panel").innerHeight())
})
</script>
{% endblock %}