

/*------------列表-------------------------------------------------*/
/*公告容器*/
.ui-trade-show{
    background-color: #fff;
}
.ui-trade-show-notice{
    margin-top:20px;
    height:80px;
    border-radius:10px;
    background-color:#eee;
    box-shadow:0 0 10px #AEAFA9;
}
/*列表分类*/
.ui-trade-show-list{
    position: fixed;
}
.ui-trade-show-list>div{
    font-size: 25px;
    margin:20px 0 20px 0;
    white-space:nowrap;

}
.ui-trade-show-list>span{
    font-size: 15px;
    margin-right: 20px;
    white-space:nowrap;
}
/*商品容器*/
.ui-trade-show-contain{
    margin-top:40px;
    height:400px;
    width:100%;
    border-radius:10px;
    background:no-repeat #eee;
    overflew:hidden;
    box-shadow:0 0 10px #AEAFA9;
}
.ui-trade-show-contain-side{
    background: -webkit-linear-gradient(top, rgba(88, 88, 88, 0) 0%, rgba(70, 70, 70, 0.96) 60%, rgba(43, 41, 41, 1) 90%);
    background:linear-gradient(top, rgba(88, 88, 88, 0) 0%, rgba(70, 70, 70, 0.96) 60%, rgba(43, 41, 41, 1) 90%);
    opacity:0.9;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    position:relative;
    top:200px;
    height:200px;
    width:inherit;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
.ui-trade-show-contain-headbg{
    background-color:#DADBD4;
    background-size:cover;
    border-radius:50%;
    width:80px;
    height:80px;
    position:relative;
    left:200px;
    top:70px;
    box-shadow:0 0 10px #2B2929;
    filter: none;
    -webkit-filter: none;


}
.ui-trade-show-contain-text{
    white-space:nowrap;
    text-shadow:0 0 10px #fff;
    position:relative;
    left:15px;
    top:0px;

}
.ui-trade-show-contain-price{
    font-size:30px;
    color:#FF7A7C;
    text-shadow:0 0 10px #FF7A7C;

}
.ui-trade-show-contain-title{
    font-size:20px;
    color:#fff;
    text-overflow:ellipsis;
    width:195px;

    overflow:hidden;
}
.ui-trade-show-contain-userid{
    font-size:15px;
    opacity:0.7;
    color:#fff;


}
/*-------------------end-----------------*/
/*------------------物品描述--------------*/
.ui-trade-detail-nav{
    width:200px;
    text-align:left;
    position:fixed;

    left:120px;
    top:200px;
}
.ui-trade-detail-panel{
    width:inherit;
    box-shadow:0 0 20px #eee;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    background-color: #fff;
    position: relative;

}
.ui-trade-detail-panel-cover{
    height:250px;
    background-size:cover;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    filter:blur(5px);
    -webkit-filter:blur(5px);
    z-index:1;
    position:relative;
    background-color:#fff;
}
.ui-trade-detail-panel-label{

    width:200px;
    height:50px;
    background:#000;
    box-shadow:0 0 10px #000;
    border-radius:10px;
    font-size:22px;
    padding:10px 0 10px 15px;
    margin-bottom:10px;
    transition: all 0.3s ease-in-out 0.1s;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
}
.ui-trade-detail-panel-label:hover{
    position:relative;
    left:-90px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.ui-trade-detail-title{
    padding:20px;
    border-bottom-style:dashed;
    border-width:2px;
    border-color:#eee;

}
.ui-trade-detail-content{
    padding:20px;
    border-bottom-style:dashed;
    border-width:2px;
    border-color:#eee;
    word-wrap:normal;

}
.ui-trade-detail-content>p{
    font-size:20px;
    line-height:180%;
    text-indent: 2em;
}
.ui-trade-detail-content>img{
    width:100%;
    display:block;
}
.ui-trade-detail-headbg{
    background-color:#DADBD4;
    background-size:cover;
    border-radius:50%;
    width:120px;
    height:120px;
    box-shadow:0 0 10px #2B2929;
    position:relative;
    top:-25px;

}
.ui-trade-detail-userinfo{
    position:relative;
    left:150px;
    top:30px;
    max-width:150px;
    color:#5A5B57;
}
.ui-trade-detail-rightlist{
    font-size:15px;
    color:#333;


}

.ui-trade-detail-rightlist div{
    margin:10px 0 10px 0;

}
.ui-trade-detail-rightlist span{
    color:#BCBEB6;
    font-size:30px;


}
.ui-trade-detail-comment{
    /*padding-top:20px;
    padding-left:10px;*/
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;

}

.ui-trade-detail-comment-input{
    width:100%;
    height:200px;
}
.ui-trade-detail-comment-textcontain{
    padding-top: 10px;
    padding-bottom:10px;
    width:100%;



}
.ui-trade-detail-comment-textcontain p{
    font-size:15px;
    line-height:110%;
    color:##777873;
    text-indent: 0em;
    margin-bottom:0;
}

.ui-trade-detail-comment-extendtext{
    font-size:13px;
    color:#777873;

}
.ui-trade-detail-comment .ui-trade-detail-comment-textcontain:before{
     top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);

}
.ui-trade-detail-comment-reply{
    padding:20px 0 20px 20px;
    box-shadow:0 0 10px #eee inset;
}

.ui-trade-detail-comment-headbg{
    background-color:#DADBD4;
    background-size:cover;
    border-radius:50%;
    width:60px;
    height:60px;

}
.ui-trade-detail-panel-right{
    float:right;
    width:35%;
    background:#fff;
}
.ui-trade-detail-panel-left{
    float:left;
    width:65%;
    background:#fff;
}


/*------------end----------------------*/

/*-------------登录/注册界面==============*/
.ui-passport-main-pannel{
    background-color: #fff;
    box-shadow: 0 0 10px #eee;
    width: 500px;
    padding: 20px;
    margin: auto;
    margin-top: 200px;

}
.ui-passport-main-pannel-title{
   text-align: center;
   padding: 0 0 10px 0;
   border-bottom:1px solid #eee;

}
.ui-passport-main-pannel-title>div{
    font-size: 20px;
}
.ui-passport-main-pannel-form div{
    
    margin:30px 0 30px 0;
    height: 30px;
    width: 300px;
    -webkit-transition:display .5s case-in;
    -moz-transition:display .5s case-in;
    transition:display .5s case-in;
}

