/*图片滚动*/
/*主页菜单伸缩 弃用
@keyframes list-collapse-close{
	from{width: 25%
		position:relative;}
	to{
		width: 0px;
		padding: 0;
		position: absolute;
	}
}
@keyframes list-collapse-open{
	from{
		width: 0px;
		padding: 0;
		position: absolute;
	}
	to{
		width: 25%;
		position:relative;
	}
}
@keyframes contain-extend{
	from{margin-left:25%;width: 75%}
	to{margin-left:0;width: 100%}
}
@keyframes contain-shrink{
	from{margin-left:0;width: 100%}
	to{margin-left:25%;width: 75%}
}
@keyframes fade-out{
	from{opacity:1}
	to{opacity:0;}
}
@keyframes fade-in{
	from{opacity:0;}
	to{opacity:1;}
}*/
@keyframes slideDown{
	from{
		-webkit-transform:translatey(-49px);
		transform:translatey(-49px);
	}
	to{
		-webkit-transform:translatey(0px);
		transform:translatey(0px);
		
	}
}
@keyframes slideUp{
	from{
		-webkit-transform:translatey(0px);
		transform:translatey(0px);
	}
	to{
		-webkit-transform:translatey(-49px);
		transform:translatey(-49px);
	}
}
/*----------------动画------------------*/
/* 弃用
.list-collapse-close{
    animation:list-collapse-close 1s;
    -webkit-animation:list-collapse-close 1s;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
}
.list-collapse-open{
    animation:list-collapse-open 1s;
    -webkit-animation:list-collapse-open 1s;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
}
.contain-extend{
	animation:contain-extend 1s;
    -webkit-animation:contain-extend 1s;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
}
.contain-shrink{
	animation:contain-shrink 1s;
    -webkit-animation:contain-shrink 1s;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
}
.fade-out{
	animation:fade-out 1s;
    -webkit-animation:fade-out 1s;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
}
.fade-in{
	animation:fade-in 1s;
    -webkit-animation:fade-in 1s;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
}*/
.anim{
	animation-duration:.1s;
	animation-fill-mode:both;
	-ms-animation-duration:.1s;
	-webkit-animation-duration:.1s;
	-ms-animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
}
.slideDown{
	-ms-animation-name:slideDown;
	-webkit-animation-name:slideDown;
	animation-name:slideDown;
}
.slideUp{
	-ms-animation-name:slideUp;
	-webkit-animation-name:slideUp;
	animation-name:slideUp;
}
/*------------end----------------------*/