{%-extends "./base.html" %} {%-block nav %}
<style>
body {
    padding-top: 120px;
}
</style>
{% endblock %} {%-block content %}
<div class="contain-fluid">
    <div class="ui-mainct">
        <div class="ui-panel">
        	<!--banner-->
        	<div class="ui-panel-cover" style="background-color:#366462;z-index:0;">
        		<div class="ui-userzone-user-head" style="background-image:url(static/images/1.jpg)"></div>
        	</div>
        	<div class="ui-userzone-content row">
        		<!--左边-->
        		<div class="col-sm-4">
        		</div>
        		<!--右边-->
	            <div class="col-sm-8">
	                <div class="ui-userzone-tag row">
	                    <div class="col-sm-2">
	                        <a class="select" id="zone_home" href="#">主页</a>
	                    </div>
	                    <div class="col-sm-2">
	                        <a class="select" id="zone_post" href="#">帖子</a>
	                    </div>
	                    <div class="col-sm-2">
	                        <a class="select" id="zone_collection" href="#">收藏</a>
	                    </div>
	                    <div class="col-sm-2">
	                        <a class="select" id="zone_message" href="#">消息</a>
	                    </div>
	                </div>
	                <div class="slideBlock"></div>
	                <div class="ui-userzone-body" data-ariapannel="zone_home"></div>
	                <div class="ui-userzone-body" data-ariapannel="zone_post"></div>
	                <div class="ui-userzone-body" data-ariapannel="zone_collection"></div>
	                <div class="ui-userzone-body" data-ariapannel="zone_message"></div>

	            </div>
        	</div>
        	
        </div>
    </div>
</div>
{% endblock %}