<div class="row">
    <div class="col-sm-12">
        <div class="ui-userzone-body-block">
            <div class="row">
                <h3><div class="ui-userzone-content-title">ta回复的帖子</div></h3>
            </div>
            <!--时间线（？）面板-->
            {% if comments%}
            {% for comment in comments %}
            <div class="ui-userzone-content-datelinebody row">
                <div class="col-md-1">
                    <div class="dot"></div>
                </div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="main-comment">
                            <div class="date"><span class="glyphicon glyphicon-time"></span> {{comment.timestamp | utcChangeToCst}}</div>
                        {{comment.body}}
                        </div>
                    </div>
                    <div class="comment-block">
                        <!--<div class="row">
                            <div class="sub-comment">
                            	can2 :xxxxxxxxxxxxxxxxxxx
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="title"><a href="{{ url_for('trade.trade_detail',goodId=comment.post_id) }}">{{comment.post_id | pidChangeToTitle}}</a></div>
                        </div>
                        <div class="row">
                            <div class="date"><span class="glyphicon glyphicon-time"></span> {{comment.post_id | pidChangeToTime}}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor%}
            {% else %}
            <div class="isnone center-align">然而什么都没有qwq</div>
            {% endif %}
        </div>
    </div>
</div>