{%-extends "./base.html" %} {%-block nav %}
<style>
body {
    padding-top: 100px;
}
</style>
{% endblock %} {% block title %}修改信息{% endblock %} {% block content %}
<div class="cantain-fluid">
    <div class="ui-mainct">
        <div class="ui-panel">
            <div class="ui-panel-cover" style="background:#B7ACA2;z-index:0;"></div>
            <div style="padding:60px 60px 0 60px;position:relative;top:-155px;">
                <div class="row">
                    <div class="ui-edinfo-title">修改信息</div>
                </div>
                <form action="/editUserInfo" method="post">
                    <div class="row">
                        <div class="col-sm-8">
                            {{form.hidden_tag()}} {{form.avatar(style="display:none",**{"value":user.avatar})}}
                            <div class="ui-edinfo-row">
                                {{form.name(class="ui-form-style ui-edinfo-input",**{"placeholder":"昵称","maxlength":"6","required":""})}}
                            </div>
                            <div class="ui-edinfo-row">
                                {{form.location(class="ui-form-style ui-edinfo-input",**{"placeholder":"我的位置","maxlength":"15"})}}
                            </div>
                            <div class="ui-edinfo-row">
                                {{form.mycontact(class="ui-form-style ui-edinfo-input",**{"placeholder":"我的联系方式","maxlength":"15"})}}
                            </div>
                            <div class="ui-edinfo-row">
                                {{form.about_me(class="ui-form-style ui-edinfo-input",**{"placeholder":"我的签名","maxlength":"30"})}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div id="upload-aira" class="ui-edinfo-uploadimg " style="background-image:url({{user.avatar}})">
                                <a id="pickfiles" href="#">
                                    <div class="progress">
                                    </div>
                                    <div class="button">
                                        <span>上传头像</span>
                                    </div>
                                </a>
                            </div>
                            <p style="padding-top: 40px;
                        color: #B7ACA2;">请尽量选择比较像正方形的图片哦＊</p>
                        </div>
                    </div>
                    <div class="row">
                        {{form.submit(class="btn btn-default ui-edinfo-button case-in center-block")}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} 
{% block script %}
<!--依赖插件-->
<script type="text/javascript" src={{url_for( 'main.staticfile',filename='js/plupload/plupload.full.min.js' )}}></script>
<script type="text/javascript" src={{url_for( 'main.staticfile',filename='js/qinniu/dist/qiniu.min.js' )}}></script>
<!--配置-->
<script type="text/javascript" src={{url_for( 'main.staticfile',filename='js/qinniu/config.js' )}}></script>
<script type="text/javascript" src={{url_for( 'main.staticfile',filename='js/ui/Fileload.js' )}}></script>
<script>
$(document).ready(function() {
    Qiniu.uploader(userimgupload)
})
</script>
{% import "./_js_macros.html" as jsnode %}
{{ jsnode.formValidate()}}
{% endblock %}