{%-extends "base.html" %}
{% block content %}
<div class="divstyle" style="text-align: center;padding: 100px">
    {% if current_user.is_administrator() %}
    <form action="/editUserInfoAdmin" method="post">
        {{form.hidden_tag()}}
        昵称:{{form.username()}}<br>
        邮箱:{{form.email()}}<br>
        确认状态:{{form.confirmed()}}<br>
        用户角色:{{form.role()}}<br>
        名字:{{form.name}}<br>
        位置:{{form.location()}}<br>
        关于用户:{{form.about_me()}}
        {{form.submit()}}
    </form>
    {% else %}
    <form action="/editUserInfo" method="post">
        {{form.hidden_tag()}}
        我的名字:{{form.name()}}<br>
        我在这里:{{form.location()}}<br>
        这句话可以描述我:{{form.about_me()}}
        {{form.submit()}}
    </form>
    {% endif %}

</div>
{% endblock %}