
{% import "./_macros.html" as macros %} 
{% for comment in comments %}
<div class="ui-trade-detail-comment">
    
    <div class="row">
        <div class="col-xs-2">
            <a href="{{ url_for('main.user_zone', username=comment.author_id | changeToUserName) }}"><div class="ui-trade-detail-comment-headbg" style="background-image:url({{comment.author_id | changToUserAvatar}})"></div></a>
        </div>
        <div class="col-xs-8">
            <div class="row">
                <a href="{{ url_for('main.user_zone', username=comment.author_id | changeToUserName) }}">
                    <div class="ui-trade-detail-comment-extendtext">{{ comment.author.name }}</div>
                </a>
                
                <div class="ui-trade-detail-comment-textcontain">
                    <p>{% if comment.disabled %}
                        <i>这条评论被管理员设为不可查看</i>
                        {% endif %} {% if moderate or not comment.disabled %} {{ comment.body }} {% endif %}
                    </p>
                </div>
                <span class="ui-trade-detail-comment-extendtext">{{ comment.timestamp }}<!--<a href="#" style="margin-left:30px;">回复</a>--></span>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="ui-pagination center-align">
    {{ macros.pagination_widget(pagination,'.trade_list')}}
</div>