<ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-thumbnail">
            <!--<a href="{{ url_for('main.user_zone', username=comment.author.userName) }}">{{comment.author.userName}}</a>-->
        </div>
        <div class="comment-content">
            <div class="comment-date">{{ comment.timestamp }}</div>
            <div class="comment-author"><a href="{{ url_for('main.user_zone', username=comment.author.userName) }}">{{ comment.author.userName }}</a></div>
            <div class="comment-body">
                {% if comment.disabled %}
                <p><i>这条评论被管理员设为不可查看</i></p>
                {% endif %}
                {% if moderate or not comment.disabled %}
                        {{ comment.body }}
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

