{% macro navJsNode() -%} {# 二级导航缩放，搜索框#}
<script type="text/javascript">
$(document).ready(function() {
    $(".ui-navbar").headroom({
        "tolerance": 5,
        "offset": 0,
        "classes": {
            "initial": "anim",
            "pinned": "slideDown",
            "unpinned": "slideUp",
            "top": "ui-navbar--top",
            "notTop": "ui-navbar--not-top",
        }
    });

    $(".input-gr").hover(function() {
        $(".ui-navbar input").css("display", "inline-block");
    }, function() {
        if ($(".ui-navbar input").val() == "") $(".ui-navbar input").hide();
    })

    $(".ui-navbar input").focusin(function() {
        $(".input-gr").addClass("input-gr--active")
    }).focusout(function() {
        if ($(".ui-navbar input").val() == "") $(".input-gr").removeClass("input-gr--active")

    })
    var ui = new UI()
    $(".input-gr a").click(function() {
        if (ui.difFormTip($(this).closest('div'))) {
            location.href = $(".input-gr a").attr("data-searchurl") + $(".input-gr input").val()
        } else return false;

    })

})
</script>
{%- endmacro %} {% macro colListJsNode(posts)-%}
<!--瀑布流列表显示模块(带图片)-->
{# 不得不说这个方法产生的垃圾真多。。。。。。#}
<script>
var start = 1; 
{%for post in posts %}

var waterfallelement = "<div class='ui-trade-show-contain case-in fast' ><div class='row' style='padding: 20px 0 10px 20px;'><div class='col-sm-3'><a href='{{ url_for('main.user_zone',username=post.author.userName) }}'><div class='list-headbg' style='background-image:url({{post.author.avatar}});'></div></a></div><div class='col-sm-9'><a href='{{ url_for('main.user_zone',username=post.author.userName) }}'><div class='list-userid'>{{post.author.name}}</div></a><div class='list-time'><span class='glyphicon glyphicon-time'></span>{{ post.timestamp | utcChangeToCst}}</div></div></div><a href={{url_for( 'trade.trade_detail',goodId=post.id)}}><div class='list-img' style='background-image:url(http://7xrkww.com1.z0.glb.clouddn.com/{{post.photos | getFirstKey}})'></div></a><div class='list-price'>￥{{post.goodPrice}}</div><a href={{url_for( 'trade.trade_detail',goodId=post.id)}}><div class='list-title'>{{post.goodName}}</div></a></div>"
if (start > 4) {
    start = 1;
};
$("#waterFallColumn_" + start).append(waterfallelement);
start++;

{% endfor %}
</script>
{%- endmacro %} 
{% macro formValidate()-%}
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<script>
$("[type=\"submit\"]").click(function() {
    $(this).closest("form").validate({
        rules: {
            userName: {
                required: true,
                maxlength: 6
            },
            passWord: {
                required: true,
            },
            email: {
                required: true,
                email: true
            },
            regpassWord: {
                required: true,
            },
            confirm: {
                required: true,
                equalTo: "#regpassWord"
            },
            checkrequire: {
                required: true
            }
        },
        messages: {
            passWord: "请输入密码",
            email: "请输入邮箱",
            checkrequire: "请选择",
            regpassWord: "请输入密码",
            confirm: {
                required: "请输入密码",
                equalTo: "两次密码不一致"
            }
        },
        showErrors: function(errorMap, errorList) {
            $("body").animate({
                scrollTop:"0px"
            },500,function(){
                $.each(this.successList, function(index, value) {
                return $(value).popover("hide");
                });
                return $.each(errorList, function(index, value) {
                    var _popover;
                    _popover = $(value.element).popover({
                        trigger: "manual",
                        content: value.message,
                        placement: 'right',
                    });
                    return _popover.popover("show");
                });
            })
        }
    })
})
</script>
{%-endmacro %}