{%-extends "base.html" %}

{%-block nav %}
<style>
body {
    padding-top: 100px;
}
</style>
{% endblock %}

{% block content %}
<div class="cantain-fluid">
    <div class="ui-mainct">
        <div class="ui-panel">
            <div class="ui-panel-cover" style="background:#B7ACA2;z-index:0;"></div>
            <div style="padding:60px 60px 0 60px;position:relative;top:-155px;">
            	<div class="row">
                    <div class="ui-edinfo-title">关于JxnuGo</div>
                </div>
                <h2>为什么叫JxnuGo?</h2>
                <p>JxnuGo这个名字乍一看和项目好像没有什么特殊的含义，普普通通。实际上，我们开发团队取项目名的时候是这样定义的：
                <ul>
				<li>1、Go谐音“购”，项目中有闲置物品信息发布功能区，我们希望更多的人通过这个平台能购买上自己心仪实用的闲置物品。</li>
				<li>2、Go有“开始“”之意，我们开发者是第一次尝试构建这样一个大型的项目，因此有从这个项目开始，勉励自己之意。同时，我们有意将这个项目开发成师大学子一个真正的学习生活服务平台，暑期我们会开发更多的实用，目前发布的闲置物品信息发布功能，也是项目从这里开始，逐渐的将我们这个不成熟的校园全平台计划变得成熟。</li>
				</ul>
				</p>
				<h2>关于开发者</h2>
				<p>我们是谁？<br>
				来自14、15级的三只程序猿（媛)师大+的作者是我们认识已久的学长，在我们的生活学习给过很多帮助。</p>
				<h5>后端</h5>
				<div></div>
				<h5>前端</h5>
				<div></div>
				<h5>Android</h5>
				<div></div>
				<h2>意见反馈</h2>
				<p>如果你对我们的项目有建议，或者有其它事情需要联系我们，可以将信息发送到我们的邮箱：jxnugo@163.com</p>

				<h2>关于师大+</h2>
				<p>师大+最初是我们两位学长开发的App，后来，师大+慢慢的集成了我们项目的闲置物品交易功能，以后还会集成更多的功能，让它成为师大人真正的学习生活小助手。</p>
				<h2>致谢</h2>
				<p>感谢@kdwycz学长，在繁忙的工作中，还给予我们帮助。</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!--
#关于JxnuGo
*为什么叫JxnuGo?
JxnuGo这个名字乍一看和项目好像没有什么特殊的含义，普普通通。实际上，我们开发团队取项目名的时候是这样定义的：
1、Go谐音“购”，项目中有闲置物品信息发布功能区，我们希望更多的人通过这个平台能购买上自己心仪实用的闲置物品。
2、Go有“开始“”之意，我们开发者是第一次尝试构建这样一个大型的项目，因此有从这个项目开始，勉励自己之意。同时，我们有意将这个项目开发成师大学子一个真正的学习生活服务平台，暑期我们会开发更多的实用，目前发布的闲置物品信息发布功能，也是项目从这里开始，逐渐的将我们这个不成熟的校园全平台计划变得成熟。
#关于开发者 
我们是谁？
来自14、15级的三只程序猿（媛、师大+的作者是我们认识已久的学长，在我们的生活学习给过很多帮助。
* 后端   
* 前端
* Android

#意见反馈
如果你对我们的项目有建议，或者有其它事情需要联系我们，可以将信息发送到我们的邮箱：jxnugo@163.com

#关于师大+
* 师大+最初是我们两位学长开发的App，后来，师大+慢慢的集成了我们项目的闲置物品交易功能，以后还会集成更多的功能，让它成为师大人真正的学习生活小助手。


#致谢
感谢kdwycz学长，在繁忙的工作中，还给予我们帮助。
-->