{%-extends "base.html" %}

{%-block nav %}
<style>
body {
    padding-top: 100px;
}
</style>
{% endblock %}

{% block title%}
关于我们
{% endblock %}

{% block content %}
<div class="cantain-fluid">
    <div class="ui-mainct">
        <div class="ui-panel">
            <div class="ui-panel-cover" style="background:#9BB7B4;z-index:0;"></div>
            <div class="ui-about" style="padding:60px 60px 0 60px;position:relative;top:-155px;">
            	
                    <div class="ui-edinfo-title">关于JxnuGo</div>
                
                <h2>为什么叫JxnuGo?</h2>
                <p>JxnuGo这个名字乍一看和项目好像没有什么特殊的含义，普普通通。实际上，开发团队取项目名的时候是这样定义的：
                <ul>
				<li>1、Go谐音“购”，项目中有闲置物品信息发布功能区，开发团队希望更多的人通过这个平台能购买自己心仪实用的闲置物品。</li>
				<li>2、Go有“开始“”之意，开发团队是第一次尝试构建这样一个大型项目，因此有从这个项目开始，勉励自己之意。同时，团队有意将这个项目开发成师大学子一个真正的学习生活服务平台，暑期我们会开发更多的实用，目前发布的闲置物品信息发布功能，也是项目从这里开始，逐渐的将这个不成熟的校园全平台计划变得成熟。</li>
				</ul>
				</p>
				<h2>关于开发者</h2>
				<p>我们是谁？<br>
				来自14、15级的三只程序猿（媛)<br>正在努力掌握更多的技术栈</p>
				<div class="row" style="padding:15px 0">
					<div class="col-sm-4">
						<a href="http://ddragonever.com/"><div class="head center-block" style="background-image:url(http://o8evkf73q.bkt.clouddn.com/image/avatar/D70E49CB2C4FB986FD5762F269348175.png)"></div></a>
						<div class="item">
							<div>后端运维</div>
							<div>@Ddragon</div>
							<div>blog:<a href="http://ddragonever.com/">ddragonever.com</a></div>
						</div>
					</div>
					<div class="col-sm-4">
						<a href="http://blog.can2.moe"><div class="head center-block" style="background-image:url(http://o8evkf73q.bkt.clouddn.com/image/avatar/avatar.png)"></div></a>
						<div class="item">
							<div>前端、设计 </div>
							<div>@can2(媛)</div>
							<div>blog:<a href="http://blog.can2.moe">blog.can2.moe</a></div>
						</div>
					</div>
					<div class="col-sm-4">
						<a href="https://www.github.com/zpauly"><div class="head center-block" style="background-image:url(http://o8evkf73q.bkt.clouddn.com/image/avatar/F1972D61481841FD5F89781CA7115BDE.jpg)"></div></a>
						<div class="item">
							<div>Android平台开发 </div>
							<div>@zpauly</div>
							<div>github:<a href="https://github.com/zpauly">zpauly</a></div>
						</div>
					</div>
				</div>
				<h2>意见反馈</h2>
				<p>如果你对项目有建议，或者有其它事情需要联系运维团队，可以将信息发送到我们的邮箱：ddragonever@gmail.com<br>
                也可电话联系:13361640744</p>

				<h2>JxnuGo与师大+</h2>
				<p>师大+最初是我们两位学长(@MummyDing @KevinWu)开发的App，后来，师大+慢慢的集成了项目的闲置物品交易功能，以后还会集成更多的功能，让它成为师大人真正的学习生活小助手。</p>
				<h2>致谢</h2>
				<p>感谢@kdwycz学长，在繁忙的工作中，还给予我们帮助。</p>
				<p>@kdwycz's blog:<a href="https://blog.kdwycz.com">blog.kdwycz.com</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!--
#关于JxnuGo
*为什么叫JxnuGo?
JxnuGo这个名字乍一看和项目好像没有什么特殊的含义，普普通通。实际上，我们开发团队取项目名的时候是这样定义的：
1、Go谐音“购”，项目中有闲置物品信息发布功能区，我们希望更多的人通过这个平台能购买上自己心仪实用的闲置物品。
2、Go有“开始“”之意，我们开发者是第一次尝试构建这样一个大型的项目，因此有从这个项目开始，勉励自己之意。同时，我们有意将这个项目开发成师大学子一个真正的学习生活服务平台，暑期我们会开发更多的实用，目前发布的闲置物品信息发布功能，也是项目从这里开始，逐渐的将我们这个不成熟的校园全平台计划变得成熟。
#关于开发者 
我们是谁？
来自14、15级的三只程序猿（媛、师大+的作者是我们认识已久的学长，在我们的生活学习给过很多帮助。
* 后端   
* 前端
* Android

#意见反馈
如果你对我们的项目有建议，或者有其它事情需要联系我们，可以将信息发送到我们的邮箱：jxnugo@163.com

#关于师大+
* 师大+最初是我们两位学长开发的App，后来，师大+慢慢的集成了我们项目的闲置物品交易功能，以后还会集成更多的功能，让它成为师大人真正的学习生活小助手。


#致谢
感谢kdwycz学长，在繁忙的工作中，还给予我们帮助。
-->