{%-import "./_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    
    <title>{% block title %}{% endblock %}－江西师范GO－jxnuGO</title>
    <link href={{url_for( 'main.staticfile',filename='css/bootstrap.min.css' )}} rel="stylesheet" type="text/css">
    <link href={{url_for( 'main.staticfile',filename='font-awesome/css/font-awesome.min.css' )}} rel="stylesheet" type="text/css">
    <link href={{url_for( 'main.staticfile',filename='css/all_style.css' )}} rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href={{url_for( 'main.staticfile',filename='css/anim.css' )}}>
    <link rel="stylesheet" type="text/css" href={{url_for( 'main.staticfile',filename='css/global.css' )}}>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="navbar-fixed-top ui-navbar anim">
    <div class="contain-fluid" style="width:100%;">
    
    {%-block mainnav %}
    {{macros.mainnav(current_user=current_user,Permission=Permission)}}
    {% endblock-%}

        {%-block nav %}
        <style type="text/css">
        body{
            padding-top:71px;
        }
        </style>

        {% endblock %}
    </div>
    </div>
    {% block content %}
    {% endblock %}
    
    {{ macros.modal()}}

    {% block footer %}
    {{ macros.footer() }}
    {% endblock %}
    <!--依赖框架，插件-->
    <script type="text/javascript" src={{url_for( 'main.staticfile',filename='js/jquery.min.js' )}}></script>
    <script type="text/javascript" src={{url_for( 'main.staticfile',filename='js/bootstrap.min.js' )}}></script>
    <script type="text/javascript" src={{url_for( 'main.staticfile',filename='js/headroom.min.js' )}}></script>
    <script type="text/javascript" src={{url_for( 'main.staticfile',filename='js/jQuery.headroom.js' )}}></script>
    <!--全局ui-->
    <script type="text/javascript" src={{url_for( 'main.staticfile',filename='js/ui/global.js' )}}></script>
    <script type="text/javascript">
    var ui = new UI();
    ui.modalShow(function() {
        {% with messages = get_flashed_messages() %} 
        {%if messages %}
        $(".modal").modal('show') 
        {% endif %} 
        {% endwith %}
    });
    ui.bubbleTip();
    $(".ui-mainnav .nav-user").hover(function(){
        $(".ui-mainnav .popo").toggle();
        $(".ui-mainnav .nav-avatar").toggleClass("nav-avatar--active")
    })
    
    </script>

    {% block script %}
    {% endblock %}
    
    <div></div>
</body>

</html>