{%-extends "base.html" %}
{%-import "./_macros.html" as macros %}
{% block title%}
首页
{% endblock %}

{% block mainnav %}
{{ macros.showmainnav(current_user=current_user)}}
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href={{ url_for( 'main.staticfile',filename='css/jquery.fullpage.min.css' )}}>
{% endblock %}
{% block content %}

<!--fullpage-->
<div id="fullpage" class="cantain-fluid ui-index-page">
    <div class="section">
        
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8 one">
            <img style="width:100%;max-width: 1100px;" data-src="{{ url_for( 'main.staticfile',filename='images/index/one.svg' )}}">
        </div>
            <div class="col-xs-2"></div>
        </div>
        
    </div>
    <div class="section">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8 two">
                <img style="width:100%;max-width: 1100px;" data-src="{{ url_for( 'main.staticfile',filename='images/index/two.svg' )}}">
            <a class="btn btn-default center-block button" href="{{url_for('trade.trade_list')}}" role="button">去围观 →</a>
            </div>
            <div class="col-xs-2"></div>
        </div>
        
    </div>
    <div class="section three fp-auto-height">
    	{%-import "./_macros.html" as macros %}
    	{{ macros.footer() }}
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for( 'main.staticfile',filename='js/jquery.fullPage.min.js' )}}"></script>
<script type="text/javascript">

    $('#fullpage').fullpage({
        navigation: true,
    	navigationPosition: 'right',
        navigationTooltips: ['First', 'Second']
    });
</script>

{% endblock %}