{%-extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href={{ url_for( 'main.staticfile',filename='css/jquery.fullpage.min.css' )}}>
{% endblock %}
{% block content %}
<div id="fullpage" class="cantain-fluid ui-index-page">
    <div class="section one fp-auto-height">
    	<div class="half" style="background-image:url({{ url_for( 'main.staticfile',filename='images/index/bg.png' )}});padding-bottom:20px">
    		<div style="padding-top:15%">
    			<img src="{{ url_for( 'main.staticfile',filename='images/index/JXNU_index.png' )}}" style="width:400px;">
    		</div>
    		<div style="color:#fff;text-shadow:0 0 10px #fff;font-size: 50px;margin-top: 19px;">师大闲置发布平台</div>
    	</div>
    	
    </div>
    <div class="section two">
    	<div class="half">
    		<div style="height:300px;width:300px;"></div>
    	</div>
    	<div class="half" style="padding:5% 0">
    		<div style="color:#327A6F;font-size: 50px;">
    			让更多人发现你的闲置
    		</div>
    		<div class="center-block" style="width:250px;padding:5px;border-radius:50px;background:#9BB7B4;font-size: 40px;color:#fff;margin-top: 20px"><a href="" style="width:250px;">现在发布</a></div>
    	</div>
    </div>
    <div class="section three fp-auto-height">
    	{%-import "./_macros.html" as macros %}
    	{{ macros.footer() }}
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for( 'main.staticfile',filename='js/jquery.fullPage.min.js' )}}"></script>
<script type="text/javascript">

    $('#fullpage').fullpage({
    	
    });
</script>

{% endblock %}