{%-extends "base.html" %}
{% block content %}

<div class="divstyle" style="text-align: center;padding: 100px">
<h1>hello{{user.userName}}</h1>
    {% if user.name or user.id or user.location %}
    <p> {% if user.id %}
        我的id:{{user.id}}
        {% endif %}
        {% if user.name %}
        {{user.name}}
        {% endif %}
        {% if user.location %}
        来自 <a href="http://maps.google.com/?q={{user.location}}">{{user.location}}</a>
        {% endif %}

    </p>
    {% endif %}
    {% if current_user.is_administrator() %}
    <p> <a href="mailto:{{user.userEmail}}">{{user.userEmail}}</a> </p>
        <a href="{{url_for('.editUserInfoAdmin',id=user.id)}}">编辑用户信息</a>
    {% endif %}
    {% if user.about_me %}<p>{{user.about_me}}</p>
    {% endif %}
    <p>
        注册日期:{{moment(user.menber_since).format('L')}}
        上次登录:{{moment(user.last_seen).fromNow()}}
    </p>
    <h2><a href="{{url_for('main.editUserInfo')}}">点击这里修改个人信息</a></h2>
    <!--这里有个小bug,当管理员点击修改个人信息时,会出现404,不过管理员一般也不会无聊的改自己信息-->
</div>
{% endblock %}